extends layout

block content
  h1 Welcome to the URL Shortener
  p Instructions: Add the following to the address bar /new/(PUT ADDRESS OF THE WEBSITE YOU WANT TO SHORTEN HERE). Make sure to use a full web address.
  
